@media only screen and (max-width: 768px) {
  .section_cards > .card {
    padding: 50px 30px;
  }
  .section_cards {
    margin: 20px 0px;
  }
  .section_cards > .card > .card_title > h5 {
    font-size: 23px;
  }
  .staffing_box > .staffing_detail {
    padding: 10px 10px;
  }
  .staffing_box > .staffing_detail .title > h5 {
    font-size: 16px;
  }
  .staffing_box > .staffing_detail .title > .icon > svg {
    font-size: 42px;
    margin-right: 10px;
  }
  .talent_source_rate_section > .source_rate_content {
    text-align: center;
    margin-top: 20px;
  }
  .mission_img {
    width: 100%;
  }
  .mission_content {
    padding: 0px;
    margin-top: 20px;
  }
  .contact_side_bg {
    width: 100% !important;
  }
  .contact_side_bg > img {
    height: 500px !important;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    object-fit: cover;
  }
  .talent_source_box {
    padding: 60px 40px 60px 40px;
  }
}

/* **************************************************************************************************************************** */
@media only screen and (max-width: 425px) {
  .sectiom_title > h2 {
    font-size: 34px;
  }
  .sectiom_title > h5 {
    margin-bottom: 10px !important;
    font-size: 15px;
  }
  .md-scroll-stack-block > .md-scroll-img > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .md-scroll-details > .title > h2 {
    font-size: 34px;
  }
  .talentSource_title > h2 {
    font-size: 34px;
  }
  .talentSource_title > p {
    font-size: 18px;
  }
  .circle_section {
    padding: 0px;
  }
  .circle_box {
    height: 330px;
  }
  .circle_box > .circle_box_content {
    height: 330px;
  }
  .circle_box > .circle_box_content > .box_content > .content > h4 {
    font-size: 20px;
  }
  .circle_box > .circle_box_content > .box_content > .content > p {
    font-size: 11px;
  }
  .top_header_bg {
    margin-top: -10px;
  }

  .talent_source_rate_section > .source_rate_content > .rate > h2 {
    font-size: 60px;
  }
  .section_ninth_contact_form {
    background-size: cover;
    padding: 15px !important;
  }
}

/* ***************************************************************************************************** */
@media only screen and (max-width: 390px) {
  .service_banner > .banner_content > h2 {
    font-size: 42px;
  }
  .circle_box > .circle_box_content > .box_content > .content > h4 {
    font-size: 13px;
  }
  .circle_box > .circle_box_content > .box_content > .content > p {
    font-size: 9px;
  }
  .circle_box > .circle_box_content {
    height: 300px;
  }
  .circle_box {
    height: 300px;
  }
  .talent_source_rate_section > .source_rate_content > .rate > h2 {
    font-size: 50px;
  }
  .mission_img {
    background-position: center;
  }
  .mission_content > h2 {
    font-size: 30px;
  }

  /* ********* circle  */
  .circle_box > .circle_box_content,
  .circle_box {
    padding: 17px 17px 50px !important;
  }
  .circle_box > .icon:first-child {
    left: -4%;
  }
  .circle_box > .icon:nth-child(2) {
    right: -4%;
  }
  .circle_box > .icon {
    width: 40px;
    height: 40px;
  }
  .circle_box > .icon > svg {
    font-size: 22px;
  }
  .circle_box > .icon:nth-child(6) {
    top: -6%;
  }
  .circle_box > .icon:nth-child(5) {
    bottom: -7%;
  }
}

/* ***************************************************************************************************** */
@media only screen and (max-width: 375px) {
  .circle_box {
    height: 275px;
  }
  .circle_box > .circle_box_content {
    height: 275px;
  }
  .circle_box > .icon > svg {
    font-size: 20px;
  }
  .circle_box > .icon {
    width: 40px;
    height: 40px;
  }
}
/* ***************************************************************************************************** */
@media only screen and (max-width: 360px) {
  .circle_box > .circle_box_content > .box_content {
    padding: 20px;
  }
  .circle_box,
  .circle_box > .circle_box_content {
    height: 250px;
    padding: 10p;
    padding: 15px 15px 45px !important;
  }
  .circle_box > .icon:first-child {
    left: -6%;
  }
  .circle_box > .icon:nth-child(2) {
    right: -6%;
  }
  .circle_box > .icon:nth-child(6) {
    top: -9%;
  }
  .circle_box > .icon:nth-child(5) {
    bottom: -9%;
  }
  .md-scroll-details > .title > h2,
  .talentSource_title > h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .talentSource_title > h5 {
    font-weight: 600;
    font-size: 13px;
  }
  .talentSource_title > p {
    font-size: 14px;
  }
  .talentSource_title {
    gap: 5px;
  }
  .section_ninth_contact_form {
    padding: 10px !important;
  }
  .section_fourth_button > .contact_button {
    padding: 12px 25px;
  }
  .section_fourth_button > .contact_button > button {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 330px) {
  .circle_box,
  .circle_box > .circle_box_content {
    height: 250px;
    padding: 10p;
    padding: 14px 12px 50px !important;
  }
  .circle_box > .icon {
    width: 35px;
    height: 35px;
  }
  .circle_box > .icon > svg {
    font-size: 16px;
  }
  .circle_box > .icon:nth-child(6) {
    top: -7%;
  }
}
