.mySwiper {
  height: auto;

  padding-bottom: 50px;

  width: 100%;
}

.mySwiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  color: #fff;
  border-radius: 20px;
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  margin: 0 !important;
  padding: 0 !important;
}

.swiper-slide-active {
  opacity: 1;
}
.mySwiper .swiper-pagination {
  flex-direction: column;
  right: 20px;
  background-color: #f4f4f4;
  padding: 10px 12px;
  border-radius: 15px;
  transform: translateY(-50%);
  top: 50%;
}

.mySwiper > .swiper-pagination > .swiper-pagination-bullet {
  display: block;
  box-sizing: content-box;
  opacity: 0.35;
  position: relative;
  padding: 1px;

  transition: all 0.2s ease 0s;
}

.mySwiper > .swiper-pagination > .swiper-pagination-bullet-active {
  opacity: 0.8;
  background-color: #383838;
}
.mbr {
  margin-right: 70px;
}
.mbl {
  margin-left: 70px;
}
.swiper-wrapper {
  height: 100vh;
}
