/* [project]/components/ContactUsPageSections/ContactBanner/style.css [app-client] (css) */
:root {
  --transper: #edfd7233;
  --grey: #d6d6d6 !important;
  --font-fam: "Outfit", sans-serif !important;
}

.contactBanner {
  background-color: #2478ff;
  width: 100%;
  height: 300px;
  padding: 80px 40px;
}

.contactBanner > .bannerContent > h2 {
  font-size: 56px;
  line-height: 1.1;
  font-family: var(--font-fam);
  font-weight: 600;
}

.contactBanner > .bannerContent > p {
  font-family: var(--font-fam);
}

.bannerImage {
  width: 100%;
  height: 300px;
}

.bannerImage > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* [project]/components/ContactUsPageSections/ContactMessageForm/style.css [app-client] (css) */
.contact-info {
  margin: 0;
}

.contact-title > h2 {
  color: #383838;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.address {
  flex-direction: column;
  gap: 18px;
  margin-top: 20px;
  display: flex;
}

.adress_info > h5 {
  text-transform: capitalize;
  color: #383838;
  text-align: start;
  background: linear-gradient(to top, #fbdf2d66, #0000 40%);
  margin-top: 10px;
  font-size: 19px;
  font-weight: 700;
  display: inline-block;
}

.adress_info > p {
  color: #383838;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.adress_info > h2 {
  color: #383838;
  font-size: 24px;
  font-weight: 400;
}

.section_ninth_contact_form {
  background-size: cover;
  margin: 0 21px;
  padding: 48px 72px;
}

.contact_side_bg {
  width: 84%;
  height: 100%;
}

.contact_side_bg > img {
  width: 100%;
  height: 100%;
}

.contact_form_bg > .contact_title > h3 {
  color: #383838;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.contact_form_bg > .contact_title > p {
  color: #fffc;
  font-size: 19px;
  line-height: 1.7;
}

.contact_input {
  height: 70px;
  padding: 0 20px;
  color: #212529 !important;
  font-size: 15px !important;
}

.contact_input::placeholder {
  font-family: Outfit, sans-serif;
  color: #b8b8b8 !important;
  font-size: 17px !important;
}

.textarea_input {
  color: #212529 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.section_fourth_button > .contact_button {
  background-color: #2478ff;
  justify-content: center;
  width: 100%;
  padding: 20px 36px;
  display: flex;
}

.section_fourth_button > .contact_button:hover {
  background-color: #383838;
}

.section_fourth_button > .contact_button:hover button {
  color: #fff;
}

.section_fourth_button > .contact_button > button {
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 24px;
  font-weight: 600;
  display: flex;
}

.section_fourth_button > .contact_button > button > span > svg {
  margin-left: 10px;
  font-size: 27px;
  font-weight: 700;
  transform: rotate(330deg);
}

/* [project]/components/ContactUsPageSections/FrequentlyAskedQuestion/style.css [app-client] (css) */
.question_section .asked_question_title {
  text-align: center;
}

.question_section > .asked_question_title h5 {
  text-transform: capitalize;
  color: #383838;
  text-align: start;
  background: linear-gradient(to top, #fbdf2d66, #0000 40%);
  margin-top: 10px;
  font-size: 19px;
  font-weight: 700;
  display: inline-block;
}

.question_section > .asked_question_title h2 {
  color: #383838;
  text-transform: capitalize;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.1;
}

.question_items {
  text-align: left;
  margin: 10px 100px;
}

.question_items > .questions > ul > li {
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  padding: 20px 0;
  display: flex;
}

.question_items > .questions > ul > li > a {
  color: #1c1d26;
  text-transform: capitalize;
  margin-left: 18px;
  padding: 10px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
}

.question_items > .questions > ul > li > span {
  background-color: #fbdf2d33;
}

.question_items > .questions > ul > li > span > svg {
  color: #383838;
  padding: 4.5px;
  font-size: 24px;
  transform: rotate(330deg);
}

.question_items > .questions > ul > li:hover a {
  color: #2478ff;
  text-decoration: underline;
}

.question_items > .questions > ul > li:hover span {
  background-color: #2478ff;
}

.question_items > .questions > ul > li:hover span svg {
  color: #383838;
}

/* [project]/components/ContactUsPageSections/Responsive/style.css [app-client] (css) */
@media only screen and (max-width: 768px) {
  .pbl {
    padding: 0 !important;
  }

  .md-padding {
    padding: 95px 30px 0;
  }

  .contact-info {
    margin-bottom: 40px;
  }

  .section_ninth_contact_form {
    margin: 0;
  }

  .map {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 425px) {
  .section_ninth_contact_form {
    padding: 35px 22px;
  }

  .contact_input {
    height: 55px;
  }

  .section_fourth_button > .contact_button > button {
    font-size: 20px;
  }

  .section_fourth_button > .contact_button {
    padding: 16px 25px;
  }

  .question_items {
    margin: 10px 0;
  }

  .question_items > .questions > ul > li > a {
    font-size: 17px;
  }

  .question_section > .asked_question_title h2 {
    font-size: 35px;
  }

  .question_section > .asked_question_title h5 {
    font-size: 15px;
  }

  .contactBanner {
    height: 240px;
  }
}

@media only screen and (max-width: 375px) {
  .contactBanner > .bannerContent > h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 330px) {
  .contactBanner > .bannerContent > h2 {
    font-size: 42px;
  }

  .section_fourth_button > .contact_button > button {
    font-size: 16px;
  }
}

/*# sourceMappingURL=components_ContactUsPageSections_bb218867._.css.map*/