:root {
  --fn-weight: Outfit, Arial, Helvetica, sans-serif;
}
.social_icon {
  width: 75px;
  height: 100% auto;
  position: fixed;
  right: 48px;
  box-shadow: 2px 2px 16px 10px hsla(234, 15%, 13%, calc(100% - 95%));
  top: 20%;
  padding: 30px 0px 20px 0px;
}
.social_icon > .content > p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--fn-weight);
}
.social_icon > .content > .icon_box > .icon {
  width: 32px;
  height: auto;
}
.social_icon > .content > .icon_box > .icon > img {
  width: 100%;
}
