:root {
  --fn-weight: Outfit, Arial, Helvetica, sans-serif;
}
.news_insight {
  width: 100%;
}
.news_insight_banner {
  padding: 64px 96px;
  height: 520px;
}
.newsbanner_img > img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.bg_blue-b {
  background-color: #2478ff;
  transition: transform 300ms ease, filter 300ms ease,
    background-color 300ms ease, border-color 300ms ease;
  filter: none;
}
.news_insight_banner > .news_insight_banner_content > h2 {
  font-size: 52px;
  font-family: var(--fn-weight);
  margin: 12px 0px 0px 0px;
}
.news_insight_banner > .news_insight_banner_content > p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
  padding: 24px 0px 5px 0px;
  font-family: var(--fn-weight);
}
.news_insight_banner > .news_insight_banner_content > p > .tab {
  margin: 0px 10px;
}
.news_insight_banner > .news_insight_banner_content > hr {
  margin: 25px 0px;
}
.news_insight_banner > .news_insight_banner_content > p > span:nth-child(1) {
  color: #fbe12e;
}
.news_insight_banner > .news_insight_banner_content > p > span:nth-child(5) {
  color: #fbe12e;
}
